@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
footer{
    background-color: #57449a;
    padding: 50px 0;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-conteudo{
    width: 25%;
    padding: 0 10px;
}
.footer-conteudo h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-conteudo ul{
    list-style: none;
}
.footer-conteudo ul li{
    margin: 10px 0;
}
.footer-conteudo ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-conteudo ul li a:hover{
    opacity: 1;
  text-decoration: underline;
}
.footer-conteudo .medias-socias{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
.footer-conteudo .medias-socias a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: #fff;
    border: 1px solid white;
    transition: all 0.4s ease;
}
.footer-conteudo .medias-socias a i{
    font-size: 20px;
}

.medias-socias a:nth-child(1){
    background:  #34af23;
}
.medias-socias a:nth-child(1):hover{
    color:  #34af23;
    background: #fff;
}
.medias-socias a:nth-child(2){
    background: #4267B2;
}
.medias-socias a:nth-child(2):hover{
    color: #4267B2;
    background: #fff;
}
.medias-socias a:nth-child(3){
    background: #E1306C;
}
.medias-socias a:nth-child(3):hover{
    color: #E1306C;
    background: #fff;
}
.medias-socias a:nth-child(4){
    background: #1DA1F2;
}
.medias-socias a:nth-child(4):hover{
    color: #1DA1F2;
    background: #fff;
}

.medias-socias a:nth-child(5){
    background: #0077B5;
}
.medias-socias a:nth-child(5):hover{
    color: #0077B5;
    background: #fff;
}

.footer-conteudo .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: #57449a;
}
.footer-conteudo .form-sub input::placeholder{
    color: white;
}
.footer-conteudo .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #57449a;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;        
}

footer .bottom-details{
    width: 100%;
    background: #7259ca;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }

/* Responsivo */
@media (max-width: 800px) {
    .footer-conteudo{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-conteudo{
        width: 100%;
    }
}